/* =======================================================
   SVILIA GAMES STUDIO
   VARIABLES
======================================================= */

:root{

    /* COLORS */

    --black:#000000;
    --black-soft:#080808;
    --black-light:#111111;
    --gray:#1b1b1b;
    --gray-light:#2b2b2b;

    --white:#ffffff;
    --white-soft:#d6d6d6;
    --white-light:#aaaaaa;

    --border:#252525;

    --success:#53c26b;
    --warning:#f5b942;
    --danger:#d9534f;

    /* FONT */

    --font:'Inter',sans-serif;

    /* FONT SIZE */

    --title-xl:96px;
    --title-lg:72px;
    --title-md:48px;
    --title-sm:32px;

    --text-xl:24px;
    --text-lg:20px;
    --text-md:18px;
    --text-sm:16px;

    /* WIDTH */

    --container:1450px;

    /* SPACING */

    --space-xs:10px;
    --space-sm:20px;
    --space-md:40px;
    --space-lg:70px;
    --space-xl:120px;

    /* BORDER */

    --radius:6px;

    /* SHADOW */

    --shadow:

    0 10px 40px rgba(0,0,0,.45);

    /* TRANSITION */

    --transition:.35s ease;

    /* HEADER */

    --header-height:90px;

}
